#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MuiDrawer-root.MuiDrawer-docked {
  width: 220px !important;
}
.MuiDrawer-root.MuiDrawer-docked .MuiDrawer-paper {
  width: 220px !important;
}